/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/
* {
    background-color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 107px 0 40px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}
/* Отдельный класс для линий с обшими настройками */
.line {
    width: 64px;
    height: 2px;
    border: none;
} 

.line--orange {
    width: 64px;
    background: #FF8B38;
    margin: 30px auto;
}

h3 {
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
    background: transparent;
}

main {
    padding: 40px 0 102px;
    font-size: 0;
}
/*отдельный класс с настройками для колонок */
.col {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}

.circle {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

h2 {
    margin: 29px 0;
    font-size: 20px;
    font-weight: 700;
}

.circle--lamp {
    background: url(../img/lamp.png) no-repeat center center;
}

.circle--keyboard {
    background: url(../img/keyboard.png) no-repeat center center;
}

.circle--lightning {
    background: url(../img/lightning.png) no-repeat center center;
}

/*Картинка города */
.background-town {
    width: 1519px;
    height: 325px;
    background: url(../img/town.png) no-repeat center center;
}
/*Затемнение картники города */
.mask {
    width: 1519px;
    height: 325px;
    background-color: rgb(0, 0, 0, 0.5);
}
/*Заголовок*/
.caption {
    padding: 65px 0 0;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
}

.line--white {
    width: 74px;
    background:white;
    margin: 26px auto;
}

p {
    margin: 23px 0 33px;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #86878B;
    
}
/*кнопка скачать*/
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-color: white;
    background: transparent;
    width: 135px;
    height: 42px;
    font-size: 15px;
    color: white;
}
/*Анимация кнопки*/
button:hover {
	background: white;
	color: black;
}
/*Черный прямоугольник под картинкой*/
.black-rectangle {
    font-size: 0;
    width: 1519px;
    height: 128px;
    background-color: rgb(0, 0, 0);
}
/*Отдельный класс с настройками для картинок соц. сетей*/
.society {
    margin: 39px 11px;
    width: 24px;
    height: 24px;
}
/*Мучения с картинками*/
.society--facebook {
    margin: 38px 5px 42px;
}

.society--twitter {
    margin: 48px 5px 34px;
    width: 35px;
    height: 35px; 
}

.society--pinterest {
    width: 28px;
    height: 26px;
}

.society--stumbleupon {
    margin: 48px 5px 34px;
    width: 35px;
    height: 35px;
}
/*Надпись с юникодом*/
.axure {
    background: black;
    font-size: 12px;
}
